.dff {
  $dff-max-w: 500px;
  $dff-spacer: 20px;

  display: none;
  position: fixed;
  top: 20%;
  z-index: 10;
  width: 100%;
  left: 0;
  right: 0;
  max-width: $dff-max-w;
  margin: 0 auto;
  padding: $dff-spacer;
  background-color: white;
  border: 1px solid grey;

  &__map {
    height: 200px;
    margin-bottom: $dff-spacer;

    //Disable Google Logos
    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
      display:none;
    }
    .gmnoprint div {
      background:none !important;
    }
  }

  &__actions {
    text-align: right;
  }
}