.dhl-freight-popup {
  $popup-max-w: 700px;
  $popup-spacer: 20px;

  $map-size: 300px;

  display: none;
  position: fixed;
  top: 20%;
  z-index: 10;
  width: 100%;
  left: 0;
  right: 0;
  max-width: $popup-max-w;
  margin: 0 auto;
  padding: $popup-spacer;
  background-color: white;
  border: 1px solid grey;

  &__map {
    height: $map-size;
    margin-bottom: $popup-spacer;

    //Disable Google Logos
    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
      display:none;
    }
    .gmnoprint div {
      background:none !important;
    }
  }

  &__actions {
    text-align: right;
  }

  &__form {
    display: flex;

    & > label {
      flex: 1 1 0;
    }
  }
}